.main__info{
    padding: 30px;
    background-color:$color-secondary;
    height:100vh;
    display: flex;
    flex-direction: column;
}
@media #{"only screen and (max-width: 1599px)"} {
    .main__info{
    padding: 20px;
    }
}
@media #{$layout-mobile-lg} {
    .main__info{
    padding: 20px;
    height:unset;
    }
}